.whole {
    display: flex;
    flex-direction: column;
  }
  
.jumbotron {
    background-color: #cfc!important;
  }
  
  .img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    background-color: darkred;
    color: white;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
  }
  
  @media only screen and (max-width: 600px) {
    .footer-body {
      display: flex;
      flex-direction: column;
    }
  
    .footer-info {
      display: flex;
      flex-direction: column;
      margin-top: 3vh;
      margin-bottom: 3vh;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .footer-body {
      display: flex;
      flex-direction: row;
    }
  
    .footer-info {
      display: flex;
      flex-direction: column;
      margin: 5vh 12vw 5vh 12vw;
    }
  }
  
  .footer-bottom {
    align-items: center;
    justify-content: center;
  }