/* AUTHORS: NATALIE & WAN */

.note {
  display: flex;
  flex-direction: column;
  margin: 3vw 5vw;
}

#bignote {
  background-color: lightblue;
  padding: 2vw;
}

/*Spacing + text buttons*/
h3, p { display: inline; }

#notebtn {
    background-color: #e7e7e7; 
    color: black;
} 

.notebtn:focus {
  background-color: #eef091;
}

