/* AUTHORS: NATALIE & WAN */
.login {
  display: flex;
  flex-direction: column;
  flex: 100;
  margin: 3vw;
  justify-content: center;
  align-items: center;
  background-color: #cfc; 
  
}
.note {
  display: flex;
  flex-direction: column;
  margin: 3vw 5vw;
}

#bignote {
  background-color: lightblue;
  padding: 2vw;
}

/*Spacing + text buttons*/
h3, p { display: inline; }

#notebtn {
    background-color: #e7e7e7; 
    color: black;
} 

.notebtn:focus {
  background-color: #eef091;
}
 /* MAKES SURE THE LOGIN BUTTON AND FOOTER LOOK GOOD IN A RESPONSIVE DESIGN CONTEXT */
  /* FOR SMALL SCREENS */
  @media only screen and (max-width: 600px) {
    .login {
      display: flex;
      flex-direction: row;
      width: 20vw;
    }

    .footer-body {
      display: flex;
      flex-direction: column;
    }
  
    .footer-info {
      display: flex;
      flex-direction: column;
      margin-top: 3vh;
      margin-bottom: 3vh;
    }
  }
  
  /* FOR LARGE SCREENS */
  @media only screen and (min-width: 600px) {
    .login {
      position: absolute; 
      right: 3vw;
    }
    .footer-body {
      display: flex;
      flex-direction: row;
    }
  
    .footer-info {
      display: flex;
      flex-direction: column;
      margin: 5vh 12vw 5vh 12vw;
    }
  }
  
  /* FOR THE COPYRIGHT */
  .footer-bottom {
    align-items: center;
    justify-content: center;
  }

