/* AUTHORS: NATALIE & WAN */
.msg { margin-left:40px; font-style: italic; color: red; }  
.input, .textarea { display:inline-block; font-family:arial; margin: 5px 10px 5px 40px; padding: 8px 12px 8px 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; width: 90%; font-size: small; } 
.label { display: block; }


.body {
    display: flex;
    margin: 3vw;
    height: 60vh;
}

/* CENTERS THE ENTIRE LOGIN SCREEN */
.login {
    display: flex;
    flex-direction: column;
    flex: 100;
    margin: 3vw;
    justify-content: center;
    align-items: center;
    background-color: #cfc; 
    
}

.form-group {
    width: 30vw;
}

/* RESPONSIVE DESIGN FOR SMALL SCREENS */
@media only screen and (max-width: 600px) {
    .whole {
        display: flex;
        flex-direction: column;
    }
    .body {
        flex-direction: column;
        height: 150vh;
    }

    .login {
        position: relative;
        top: 8vh;
        height: 100vh;
        padding: 10vh;
    }

    .dummydata {
        position: relative;
        bottom: -25vh;
        padding-bottom: 5vh;
    }
}

/* RESPONSIVE DESIGN FOR LARGE SCREENS */
@media only screen and (min-width: 600px) {
    .body {
        flex-direction: row;
    }

    .login {
        height: 60vh;
    }

    .dummydata {
        position: relative; 
        top: 1vh; 
        margin-left: 6vw; 
        padding-top: 5vh; 
        line-height: 60%;
    }

    /* CREATES A SEPARATING LINE BETWEEN LOGIN AND CREATE ACCOUNT */
    .line {
        border-left: 2px solid grey; flex: 1; height: 75vh;
    }
}