/* AUTHORS: NATALIE & WAN */
.login {
    display: flex;
    flex-direction: column;
    flex: 100;
    margin: 3vw;
    justify-content: center;
    align-items: center;
    background-color: #cfc; 
    
}
.board {
    display: flex;
    flex-direction: column;
    margin: 3vw;
}

/* ALLOWS FOR AN OVERFLOW OF NOTES TO SCROLL */
.notes {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

/* RESPONSIVE DESIGN FOR SMALL SCREENS */
@media only screen and (max-width: 600px) {

    .header {
        width: 100vw;
    }
    .notes {
        position: relative;
        height: 60vh;
    }

    .btn {
        align-items: center;
        justify-content: center;
        width: 40vw;
        height: 6vh;
        padding-bottom: 5vh;
        margin-top: 3vh;
    }

    .card {
        min-width: 30vw;
    }
}

/* RESPONSIVE DESIGN FOR LARGE SCREENS */
@media only screen and (min-width: 600px) {
    .btn {
        position: absolute;
        bottom: 5vh;
        left: 30vw;
        width: 40vw;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 20vw;
    }
}

.card-img-top {
    height: 30vh;
}

.card:hover {
    box-shadow: 10px 10px 5px grey;
}
 /* MAKES SURE THE LOGIN BUTTON AND FOOTER LOOK GOOD IN A RESPONSIVE DESIGN CONTEXT */
  /* FOR SMALL SCREENS */
  @media only screen and (max-width: 600px) {
    .login {
      display: flex;
      flex-direction: row;
      width: 20vw;
    }

    .footer-body {
      display: flex;
      flex-direction: column;
    }
  
    .footer-info {
      display: flex;
      flex-direction: column;
      margin-top: 3vh;
      margin-bottom: 3vh;
    }
  }
  
  /* FOR LARGE SCREENS */
  @media only screen and (min-width: 600px) {
    .login {
      position: absolute; 
      right: 3vw;
    }
    .footer-body {
      display: flex;
      flex-direction: row;
    }
  
    .footer-info {
      display: flex;
      flex-direction: column;
      margin: 5vh 12vw 5vh 12vw;
    }
  }
  
  /* FOR THE COPYRIGHT */
  .footer-bottom {
    align-items: center;
    justify-content: center;
  }

